@font-face {
    font-family: 'Impact';
    src: url("fonts/impact.ttf");
}

@font-face {
    font-family: 'Inter';
    src: url("fonts/Inter-V.ttf");
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 87.43px;
    background-color: rgb(27, 84, 221);
    text-align: center;
}

header h1 {
    padding-top: 32px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 31.58px;
    line-height: 27.63px;
}

.main-section {
    background-color: rgb(27, 84, 221);
    display: grid;
}

.main-section h2 {
    color: white;

}

.article-section {
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(232, 232, 232);
}
